<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fretx.version4">

    <!-- BluetoothLE -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".FretXApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:replace="android:theme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9c2102608533348ff0f99bddd1be48cd90eaf806" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fretx.version4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HardwareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.ConnectivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HardwareIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ExerciseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|layoutDirection"
            android:screenOrientation="landscape" />
        <service
            android:name=".utils.bluetooth.BluetoothLEService"
            android:enabled="true" />
    </application>

</manifest>